body {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

:focus{outline: none;}


input {
    border-radius: 0 !important;
}
input[type="text"]{
    color: #333;
    box-sizing: border-box; 
    letter-spacing: 1.2px;
    caret-color: pink;
}


.effect-2{
    border: 0; 
    padding: 0px 5px; 
}

.effect-2 ~ .focus-border{
    position: absolute; 
    top: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color:#333; 
    transition: 0.4s;
    
}
.effect-2:focus ~ .focus-border{
    
    width: 100%; 
    transition: 0.4s; 
    left: 0;
}

.form-control:focus {

    border: none !important;
    box-shadow: none !important;
}

.gif-button {
    margin: 2px;
}

#submit.btn {
    color: pink !important
}